* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
      to right,
      rgb(144, 251, 255),
      rgb(255, 22, 144)
    ),
    url("bg.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

nav {
  /* background-color: red; */
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0px 0px 0px;
}

nav a {
  text-decoration: none;
  color: black;
  background-color: #ffc600;
  padding: 10px 20px;
  font-weight: bolder;
  text-transform: uppercase;
}
.container1 {
  /* background-color: red; */
  width: 100vw;
  height: 70vh;
  display: flex;
  padding-right: 20px;
  margin-top: 20px;

  /* overflow: hidden; */
}

.img-holder {
  margin: 0px 0px 0px 20px;
  /* background-color: red; */
  width: 70vw;
  height: 100%;
  background-image: url("tacos-show.jpg");
  background-position: center;
  background-size: cover;
  /* display: grid;
  justify-content: center;
  align-content: center; */
}
.price-containers {
  display: flex;
  margin: 0px 0px 0px 20px;
  flex-direction: column;
  justify-content: space-around;
}
.container-price1 {
  background-color: #ffc600;
  width: 30vw;
  height: 40%;
  margin: 1px 0px;
  display: grid;
  justify-content: center;
  align-content: center;

  /* margin-bottom: 5px; */
}

.first-price {
  padding-top: 25%;
  font-size: 50px;
  font-weight: normal;
}

.first-name {
  font-weight: bold;
  text-align: center;
}
.container-price2 {
  background-color: #ffc600;
  width: 30vw;
  height: 40%;
  display: grid;
  justify-content: center;
  align-content: center;
}

.second-price {
  padding-top: 25%;
  font-size: 50px;
  font-weight: normal;
}

.second-name {
  font-weight: bold;
  text-align: center;
}

.name {
  background-color: #ffc600;
  /* width: 100%; */
  font-size: 45px;
  margin-bottom: 10px;
  padding: 20px 10px;
}
.sub-title {
  background-color: #ffc600;
  width: 50%;
  padding: 10px 5px;
}

.names {
  display: inline-block;
  margin-top: 20%;
  margin-left: 10%;
}
.container2 {
  width: 100%;

  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.box1 {
  width: 20%;
  height: 30vh;
  background-color: rgb(229, 255, 0);
  background-color: white;
  padding-top: 20px;
}
.img1 {
  background-image: url("taco.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 25%;
}
.food1 {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.desc1 {
  padding: 20px 20px;
  text-align: center;
}
.box2 {
  width: 20%;
  height: 30vh;
  background-color: rgb(255, 255, 255);
  padding-top: 20px;
}
.img2 {
  background-image: url("drink.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 25%;
}
.food2 {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.desc2 {
  padding: 20px 20px;
  text-align: center;
}
.box3 {
  width: 20%;
  height: 30vh;
  background-color: white;
  padding-top: 20px;
}
.img3 {
  background-image: url("sweets.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 25%;
}
.food3 {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.desc3 {
  padding: 20px 20px;
  text-align: center;
}
.box4 {
  width: 20%;
  height: 30vh;
  background-color: rgb(255, 255, 255);
  padding-top: 20px;
}

.img4 {
  background-image: url("music-note.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 25%;
}
.food4 {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.desc4 {
  padding: 20px 20px;
  text-align: center;
}

.container3 {
  background-color: white;
  width: 100%;
  height: 50vh;
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
}

.img-taco {
  background-image: url("queso-taco.png");
  width: 30%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.content3 {
  /* background-color: red; */
  display: grid;
  justify-content: center;
  align-content: center;
}

.p1 {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 30px;
}

.p2 {
  font-weight: bold;
  margin-bottom: 20px;
}
.p3 {
  font-weight: bold;
}

.btn {
  width: 25%;
  padding: 8px 5px;
  margin-top: 20px;
  background-color: #ffc600;
  border: 0px;
}

.btn a {
  color: black;
  text-decoration: none;
}

footer {
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc600;
  margin-top: 2px;
}

footer p a {
  color: black;
  text-decoration: none;
}

nav a:hover {
  animation: tarun 0.9s ease-out alternate;
}

@keyframes tarun {
  0% {
    font-size: auto;
    text-decoration: underline;
    box-shadow: 2px 3px 2px 1px grey;
  }
  70% {
    font-size: 20px;
    text-decoration: underline;
    box-shadow: 5px -4px 2px 1px gray;
  }
}

@media only screen and (max-width: 800px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  nav {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  nav a {
    font-size: 10px;
    margin: 2px 0px;
    padding: auto auto;
  }
  .container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
  }

  .img-holder {
    width: 100%;
    height: 30vh;
    background-position: center;
    background-size: cover;
    margin-right: 15px;
  }

  .names {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .name {
    font-size: 25px;
    padding: 5px 2px;
  }
  .sub-title {
    font-size: 15px;
    padding: 5px 2px;
  }

  .price-containers {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
  }

  .container-price1 {
    /* display: block; */
    padding: 0px 76px;
    width: 100%;
    height: 20vh;
    margin: 5px 0px;
  }
  .first-price {
    /* padding: 0px 76px; */
    font-size: 20px;
  }
  .first-name {
    font-size: 10px;
  }
  .container-price2 {
    width: 100%;
    height: 20vh;
  }
  .second-price {
    font-size: 20px;
  }
  .second-name {
    font-size: 10px;
  }
  .container2 {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
  }
  .box1 {
    width: 100%;
    margin-bottom: 5px;
  }
  .box2 {
    width: 100%;
    margin-bottom: 5px;
  }
  .box3 {
    width: 100%;
    margin-bottom: 5px;
  }
  .box4 {
    width: 100%;
    margin-bottom: 5px;
  }

  .container3 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
  }
  .img-taco {
    display: block;
    width: 100%;
  }
  .p1 {
    font-size: 25px;
  }
  .p2 {
    font-size: 15px;
  }
  .p3 {
    font-size: 15px;
  }
  footer p {
    font-size: 10px;
  }
}
